

<section id="nav-bar">
  <nav class="navbar navbar-expand-sm bg-light ">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">Educationwave</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <!-- <div class="dropdown">
          <button type="button" class="btn dropdownbtn " data-toggle="dropdown">
            Select-Class
          </button>
          <div class="dropdown-menu drop-div">
            <a class="dropdown-item" href="#">Class 6</a>
            <a class="dropdown-item" href="#">Class 7</a>
            <a class="dropdown-item" href="#">Class 8</a>
            <a class="dropdown-item" href="#">Class 9</a>
            <a class="dropdown-item" href="#">Class 10</a>
            <a class="dropdown-item" href="#">Class 11</a>
            <a class="dropdown-item" href="#">Class 12</a>
            
          </div>
        </div> -->
        
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Testimonial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </div>

    
  </nav>
  
</section>

  <!-- BANNER  -->
  <section id="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6 banner__title">
          <p class="promo-title"></p>
          <h4 class="text"></h4>
         
          <!-- <a href="./class 12/class12.html" class="watch"><img src="/image/33.png" class="play-btn"> Watch tutorial</a>
           -->
        </div>

        
          
        
        <div class="col-md-6 banner__title"></div>
        <a class="btn-ani" href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Welcome To Education Wave
        </a>
      </div>
 

       


        <!-- <div class="col-md-6" text-centre>
          <img src="/image/10.png" class="img10"/>
        </div> -->
      </div>
    
    <img src="assets/image/wave1.png" style="width: 100%;" class="wave"/>
  </section>

<!-- Service  -->

<!-- SERVICES  -->

<!-- SERVICES  -->
<section id="services">
  <div class="container text-center" >
    <h2 class="title" text-center>SUBJECTS</h2>
    <div class="row text-center" >
     
    </div>
    
  </div>
</section>


<!-- 5 step Learning  Cards -->


<section id="card_watch">
  <div class="cards-list">
    
    <a href="biology.html"><div class="card 1">
      <div class="card_image"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/YouTube_social_white_squircle_%282017%29.svg/768px-YouTube_social_white_squircle_%282017%29.svg.png" /> </div>
      <div class="card_title">
        <p class="watchhg">Watch Videos</p>
      </div>
    </div></a>
    <div class="card 2">
      <div class="card_image">
        <img src="assets/image/notes.png" />
      </div>
      <div class="card_title">
        <p class="watchhg">Notes</p>
      </div>
    </div>
    <div class="card 3">
      <div class="card_image card_image1">
        <img class="ask image1" src="assets/image/ask.png" />
      </div>
      <div class="card_title">
        <p class="watchhg ask_q">Ask Question</p>
      </div>
    </div>
    
    <div class="card 4">
      <div class="card_image">
        <img class="ask"  src="assets/image/ncert.jpg" />
      </div>
      <div class="card_title">
        <p class="watchhg ncet_1">NCERT Solution</p>
      </div>
    </div>
  </div>
  
</section>

<!----------------------------ABOUT US---------------------->
<section id="about-us">
  <div class="container">
    <h2 class="title text-center">WHY CHOOSE US</h2>
    <div class="row why">
      <div class="col-md-6 about-us">
        <p class="about-title">Why we 're different</p>
        <ul class="about_ul">
          <li> Over Thousands of student learn from from platform </li>
          <li>  Solve Every question in a very easy way </li>
          <li> Provide notes for students </li>
          <li> Help student to achive there goals </li>
          <li>Resolve every question ask by the student</li>
                  </ul>
      </div>
      <div class="col-md-6 about_img ">
        <img src="assets/image/2.png" class="image-fluid">
      </div>
    </div>
  </div>
</section>

<!-- testimonial -->


<!----------------------------Testimonial---------------------->


<!-- testimonial -->


<section id="services">
  <div class="container text-center" >
    <h2 class="title" text-center>Student reviews</h2>
    <div class="row text-center testi__card" >

      <div class="col-md-4 testi">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
          <div class="card card__testimonial">
             <img class="card-img" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/bologna-3.jpg" alt="Bologna">
            <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
              <blockquote class="blockquote text-right">
                <p>"The haunting of history is ever present in Barcelona. I see cities as organisms, as living creatures. To me, Madrid is a man and Barcelona is a woman. And it's a woman who's extremely vain."</p>
              </blockquote>
              <div class="author d-flex align-items-center">
              <img class="avatar rounded-circle mx-2" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/robert.jpg" alt="Bologna">
                Carlos Ruiz Zafon
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 testi">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
          <div class="card card__testimonial">
             <img class="card-img" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/bologna-3.jpg" alt="Bologna">
            <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
              <blockquote class="blockquote text-right">
                <p>"The haunting of history is ever present in Barcelona. I see cities as organisms, as living creatures. To me, Madrid is a man and Barcelona is a woman. And it's a woman who's extremely vain."</p>
              </blockquote>
              <div class="author d-flex align-items-center">
              <img class="avatar rounded-circle mx-2" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/robert.jpg" alt="Bologna">
                Carlos Ruiz Zafon
              </div>
            </div>
          </div>
        </div>
        
      </div>

      <div class="col-md-4 ">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
          <div class="card card__testimonial">
             <img class="card-img" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/bologna-3.jpg" alt="Bologna">
            <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
              <blockquote class="blockquote text-right">
                <p>"The haunting of history is ever present in Barcelona. I see cities as organisms, as living creatures. To me, Madrid is a man and Barcelona is a woman. And it's a woman who's extremely vain."</p>
              </blockquote>
              <div class="author d-flex align-items-center">
              <img class="avatar rounded-circle mx-2" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/robert.jpg" alt="Bologna">
                Carlos Ruiz Zafon
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </div>
    
  </div>
</section>


<!-- social media section -->

<!-----------------social media -------------------------->
<section id="social-media">
  <div class="container  social__box  text-center">
    <div class="social__box">
    <p>FIND US ON SOCIAL MEDIA</p>
    <div class="social-icon">
      
      
      
      <a href="#"><img src="assets/image/fb.png"></a>
      <a href="#"><img src="assets/image/twit.png"></a>
      <a href="#"><img src="assets/image/linkdin.png"></a>
      <a href="#"><img src="assets/image/snap.png"></a>
      <a href="#"><img src="assets/image/whats.png"></a>
      
      
      
    </div>
  </div>
  </div>
</section >



<!-- Footer section -->



<!----------------Footer section  ------------------>
<section id="footer">
  <!-- Footer -->
  <footer class="page-footer font-small indigo">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
      
      <!-- Grid row -->
      <div class="row footer_row">
        
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
          
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CLASSES</h5>
          
          <ul class="list-unstyled" >
            <li style="color: white;">
              <a href="#!">Class 12</a>
            </li>
            <li>
              <a href="#!">Class 11</a>
            </li>
            <li>
              <a href="#!">Class 10</a>
            </li>
            <li>
              <a href="#!">Class 9</a>
            </li>

            <li>
              <a href="#!">Msc Biology</a>
            </li>
          </ul>
          
        </div>
        <!-- Grid column -->
        
        <hr class="clearfix w-100 d-md-none">
        
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
          
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">SUBJECTS</h5>
          
          <ul class="list-unstyled">
            <li>
              <a href="#!">Biology</a>
            </li>
            <li>
              <a href="#!">Physics</a>
            </li>
            <li>
              <a href="#!">Chemistry</a>
            </li>
            <li>
              <a href="#!">Math</a>
            </li>
            <li>
              <a href="#!">Eng. Subjects</a>
            </li>
          </ul>
          
        </div>
        <!-- Grid column -->
        
        <hr class="clearfix w-100 d-md-none">
        
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
          
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">ABOUT US</h5>
          
          <ul class="list-unstyled">
            <li>
              <a href="#!">Notes</a>
            </li>
            <li>
              <a href="#!">Testimonial</a>
            </li>
            <li>
              <a href="#!">About us</a>
            </li>
            <li>
              <a href="#!">Privacy Policy</a>
            </li>

            <li>
              <a href="#!">Contact Us</a>
            </li>
          </ul>
          
        </div>
        <!-- Grid column -->
        
        <hr class="clearfix w-100 d-md-none">
        
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
          
          <!-- Links -->
          <h5 class="font-weight-bold white text-uppercase mt-3 mb-4" style="color: whiet;">LIKE & FOLLOW US</h5>
          
          <ul class="list-unstyled">
            <li>
              <a href="#!">You Tube</a>
            </li>
            <li>
              <a href="#!">Instagram</a>
            </li>
            <li>
              <a href="#!">Facebook</a>
            </li>
            <li>
              <a href="#!">Twitter</a>
            </li>
          </ul>
          
        </div>
        <!-- Grid column -->
        
      </div>
      <!-- Grid row -->
      
    </div>
    <!-- Footer Links -->
    
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="#"> educationwave.in</a>
    </div>
    <div class="footer-copyright text-center py-3">Icons made by <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <!-- Copyright -->
    
  </footer>
  <!-- Footer -->
</section>

