

<section id="nav-bar">
  <nav class="navbar navbar-expand-sm bg-light ">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">Educationwave</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <!-- <div class="dropdown">
          <button type="button" class="btn dropdownbtn " data-toggle="dropdown">
            Select-Class
          </button>
          <div class="dropdown-menu drop-div">
            <a class="dropdown-item" href="#">Class 6</a>
            <a class="dropdown-item" href="#">Class 7</a>
            <a class="dropdown-item" href="#">Class 8</a>
            <a class="dropdown-item" href="#">Class 9</a>
            <a class="dropdown-item" href="#">Class 10</a>
            <a class="dropdown-item" href="#">Class 11</a>
            <a class="dropdown-item" href="#">Class 12</a>
            
          </div>
        </div> -->
        
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Testimonial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </div>

    
  </nav>
  
</section>

  <!-- BANNER  -->
  <section id="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6 banner__title">
          <p class="promo-title"></p>
          <h4 class="text"></h4>
         
          <!-- <a href="./class 12/class12.html" class="watch"><img src="/image/33.png" class="play-btn"> Watch tutorial</a>
           -->
        </div>

        
          
        
        <div class="col-md-6 banner__title"></div>
        <a class="btn-ani" href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Welcome To Education Wave
        </a>
      </div>
 

       


        <!-- <div class="col-md-6" text-centre>
          <img src="/image/10.png" class="img10"/>
        </div> -->
      </div>
    
    <img src="assets/image/wave1.png" style="width: 100%;" class="wave"/>
  </section>

<!-- Service  -->

<!-- SERVICES  -->

<!-- SERVICES  -->
<section id="services">
  <div class="container text-center" >
    <h2 class="title" text-center>SUBJECTS</h2>
    <div class="row text-center" >
     
    </div>
    
  </div>
</section>


<!-- 5 step Learning  Cards -->


<section id="card_watch">
  <div class="cards-list">
    
    <a href="biology.html"><div class="card 1">
      <div class="card_image"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/YouTube_social_white_squircle_%282017%29.svg/768px-YouTube_social_white_squircle_%282017%29.svg.png" /> </div>
      <div class="card_title">
        <p class="watchhg">Watch Videos</p>
      </div>
    </div></a>
    <div class="card 2">
      <div class="card_image">
        <img src="assets/image/notes.png" />
      </div>
      <div class="card_title">
        <p class="watchhg">Watch Videos</p>
      </div>
    </div>
    <div class="card 3">
      <div class="card_image card_image1">
        <img class="ask image1" src="assets/image/ask.png" />
      </div>
      <div class="card_title">
        <p class="watchhg ask_q">Ask Question</p>
      </div>
    </div>
    
    <div class="card 4">
      <div class="card_image">
        <img class="ask"  src="assets/image/ncert.jpg" />
      </div>
      <div class="card_title">
        <p class="watchhg ncet_1">NCERT Solution</p>
      </div>
    </div>
  </div>
  
</section>

<!----------------------------ABOUT US---------------------->
<section id="about-us">
  <div class="container">
    <h2 class="title text-center">WHY CHOOSE US</h2>
    <div class="row">
      <div class="col-md-6 about-us">
        <p class="about-title">Why we 're different</p>
        <ul class="about_ul">
          <li> Over Thousands of student learn from from platform </li>
          <li>  Solve Every question in a very easy way </li>
          <li> Provide notes for students </li>
          <li> Help student to achive there goals </li>
          <li>Resolve every question ask by the student</li>
                  </ul>
      </div>
      <div class="col-md-6 about_img ">
        <img src="assets/image/2.png" class="image-fluid">
      </div>
    </div>
  </div>
</section>

<!-- testimonial -->


<!----------------------------Testimonial---------------------->


<!-- testimonial -->


